<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="userview" class="nav-link" routerLinkActive="active">
          User View
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="adminview" class="nav-link" routerLinkActive="active">
          Admin View
        </a>
      </li> 
       <li class="nav-item">
        <a routerLink="login" class="nav-link" routerLinkActive="active">
          Admin View
        </a>
      </li> 
       <li class="register">
        <a routerLink="register" class="nav-link" routerLinkActive="active">
          Admin View
        </a>
      </li> 
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>