
<div>
 <form [formGroup]="loginForm" (ngSubmit)="onloginFormSubmit()">
  <table>
  
    <tr><td>User Name</td><td><input formControlName="username">
	  <label *ngIf="loginForm.get('username').invalid" [ngClass] = "'error'"> User Name is required. </label>
    </td></tr>
    <tr><td>Enter Details</td><td><input formControlName="password">
	  <label *ngIf="loginForm.get('password').invalid" [ngClass] = "'error'"> Password are required. </label>
    </td></tr>	
      </table>
       <button type="submit">Login</button> 
 </form> 
  <button [routerLink]="['/register']"  type="button">Register</button>

 </div>
